<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Music Magic</title>
    <link href="stylesheets/screen.css" type="text/css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <h1>Music Magic</h1>

    <% if flash[:notice] %>
      <div class="answer">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <div>
      <img src="http://hqdesktop.net/wallpapers/m/31/fantasy_music_magic_m30742.jpg" title="Fantasy Music" alt="Robotic skull wearing headphones" />
    </div>

    <div>
      <form action="/tracks" method="POST" enctype="multipart/form-data" id="form">
        <h3>Hello my friend, what is your name?</h3>
        <p>
        <textarea placeholder = "your name here"name="thetext" rows="1" cols="20"></textarea>
        <input type="submit" value="Send"><INPUT type="reset" name="name">
        </p>
        <h3>Give me a track and I'll guess what it is...</h3>

        <div class="field">
          <label for="track">Track File</label>
          <input type="file" name="track" />
        <div>

        <div class="field">
          <label for="tc">
            I certify that the music I am uploading is of good taste.
          <label>
          <input type="checkbox" name="tc" value="1" />
        </div>

        <div>
          <input id="submit" type="submit" name="submit" value="Submit" />
        </div>

      </form>
    </div>

  </body>

</html>